@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {

  nav,
  aside,
  button:not(.print-only),
  .no-print {
    display: none !important;
  }

  body,
  .bg-\[\#0F172A\],
  .bg-\[\#1E293B\] {
    background-color: white !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .fixed {
    position: relative !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}